/* Universal Selector */
* {
  box-sizing: border-box;
}

/* Body */
body {
  background-color: #EAEAEA;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
}

/* Wrapper */
#wrapper {
  background-color: #90C7E3;
  border: 1px solid #003;
  background-image: linear-gradient(to bottom, #FFF, #90C7E3);
  background-repeat: no-repeat;
}

/* Header */
header {
  background-color: #002171;
  color: #FFF;
  padding: 1em;
  text-align: center;
}

/* H1 */
h1 {
  letter-spacing: 0.25em;
  font-size: 2em;
}

/* Navigation */
nav {
  float: left;
  text-align: center;
  font-size: 120%;
  padding: 1.5em;
  width: 160px;
}

/* Navigation List */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Navigation Links */
nav a:link,
nav a:visited {
  color: #5C7FA3;
  text-decoration: none;
}

nav a:hover,
nav a:active {
  color: #A52A2A;
  text-decoration: underline;
}

/* Hero Images */
#homehero,
#yurthero,
#trailhero {
  margin-left: 190px;
}

/* Main Content */
main {
  background-color: #FFF;
  margin-left: 190px;
  padding-left: 30px;
  overflow: auto;
}

/* Sections */
section {
  float: left;
  padding-left: 2em;
  padding-right: 2em;
  width: 33%;
}

/* Footer */
footer {
  margin-left: 190px;
  background-color: #FFF;
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
}
